.searchBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.input {
  padding: 6px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 250px;
}
