.participantList {
  padding: 1rem;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f0a;
  padding-bottom: 0.5rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #eee;
}

.index {
  font-weight: bold;
  color: #888;
  width: 20px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 1.5rem;
}

.admin {
  color: #f1c40f;
  font-weight: 600;
}
.removeBtn {
  background-color: #e53935; /* אדום */
  color: #fff; /* טקסט לבן */
  border: none;
  border-radius: 20%;
  padding: 4px 8px; /* קטן וצמוד */
  font-size: 1rem; /* טקסט קטן */
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
  margin-left: 8px; /* מרווח קטן מהתוכן */
}

.removeBtn:hover {
  background-color: #c62828; /* אדום כהה יותר */
  transform: scale(1.05); /* טיפה גדל */
}

.removeBtn:active {
  transform: scale(0.95); /* אפקט קל בלחיצה */
}

.removeLogo {
  width: 20px;
  border-radius: 50%;
}
